body {
    text-align: center;
    background-color: tomato;
}
p {
    text-align: left;
}
input {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    width: 308px;
    height: 50px;
    padding: 0 10px  ;
    text-align: center;
    background-color: #3f4458;

    border: 2px solid #cccccc;
    font-size: 25px;
    border-radius: 5px;
}

button {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 308px;
    height: 50px;
    background-color: grey;
    border: none;
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
}

button:disabled {
    background-color: tomato;
}

button:hover,
button:focus {
    background-color: seagreen;
    border: 2px solid #cccccc;
}

.timer {
    display: flex;
    justify-content: center;
    margin-top: 25%;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    padding: 10px 0 10px 0;
    border: 1px solid #cccccc;
}

.value {
    font-weight: 700;
    font-size: 40px;
}

.label {
    color: #cccccc;
}